/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    padding: 20px;
    background-color: #000;
    color: #D45A06;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-buttons,
.follow-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-button,
.follow-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-button:hover,
.follow-button:hover {
    background-color: #0056b3;
}

.centered-picture {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.centered-picture img {
    max-width: 30%;
    height: auto;
}

.message {
    border-radius: 8px;
    margin-top: 20px;
    color: #BBB4AF;
}