body { background-color: #FFFF66; }


header, nav, main, footer { 
	background-color: #99CCFF;
	margin: 10px;
	padding: 10px;
}

nav p :hover {
	background-color: #FFFF66;
}

article {
	background-color: #CCFF99;
	margin: 10px;
	padding: 10px;
}

h1 {
	text-align: center;
	color: blue;
}

footer p :hover {
	background-color: #FFFF66; 
}