/*  LIGHT -------------------------------- DARK
    #b2d8d8  #66b2b2  #008080  #006666  #004c4c  */

* { margin: 4px; }

body { background-color: #004c4c; }

h1 { 
	color: #b2d8d8;
	text-align: center;
}

h3 {
	color: #b2d8d8;
	text-align: center;
}

header, article, footer { 
	height: 50px;
	background-color: #008080;
}

nav ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #006666;
}

nav ul li { 
	float: left;
	margin: 0;
}

nav ul a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0;
}

nav li :hover {background-color: #66b2b2; }

.nav-active { background-color:#004c4c; }

main {
	height: 200px;
	background-color: #004c4c;
}

article {
	width: 49%;
	float: left;
	height: auto;
}

footer {
	text-align: right;
}