body {
	background-color: #B1B1B1;
	margin: 0;
}

h1, nav p {text-align: center;}
#flexbox, #tableTime, #JavaScript {background-color: #0072b2;}
#flexbox {padding: .5em;}

.conference {
	margin: auto;
	width: 90%;
	
}

.z	{
	background-color: #F0E442;
	color: #009E73;
}

.y	{
	background-color: #009E73;
	color: #F0E442;
}

#AFC, #NFC {
	background-color:  #CC79A7;
}

.conference h2 {text-align: center;}

.division {
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	

}

.division img {max-width: 100%;}

.c {
	display: inline-block;
	padding: .5em;
	margin: .5em;
	background-color: #009E73;

}

#tableWrapper {
	margin: auto;
	width: 80%;
	padding: 10px 0 50px 0;
}

#tableWrapper table {
	width: 100%;
}


#JavaScript {display: flex;}

.JS {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	margin: 1em 0 1em 0;
}

header { grid-area: header; }
nav { grid-area: nav; }
#flexbox { grid-area: flexbox; }
#tableTime { grid-area: tableTime; }
#JavaScript { grid-area: JavaScript; }
footer { grid-area: footer; }

.responsive {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"header"
		"nav"
		"JavaScript"
		"tableTime"
		"flexbox"
		"footer";
}


 @media (min-width: 700px) {
	.responsive {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"nav"
			"tableTime"
			"flexbox"
			"JavaScript"
			"footer";
	}
	.division {
	flex-direction: row;	
	display: flex; }
}

@media (min-width: 1000px) {
	.responsive {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"nav"
			"flexbox"
			"JavaScript"
			"tableTime"
			"footer";
	}
	.division {
	flex-direction: row-reverse;
	display: flex; }
}
