body {
	background-color: #ebd5b3;
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
}

div {
	width: 48%;
	
}

#one {
	color: purple;
	float: left;
	border: solid;
}

#two {
	color: black;
	float: right;
	border: solid;
}