body { 
	background-image: url(../images/allhereflag.jpg), url(../images/allhereflag.jpg);
	background-color: black; 
	background-repeat: repeat-x;
	background-position:  top left, bottom left;
	background-size: 300px 230px;
	background: object-fit, fill;
}

header {
	border-radius: 15px;
}

header, nav, main, footer { 
	background-color: #EBE7A1;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	border: 10px solid #FFC300;
}

main {
	content:align-left;
	margin: 10px 100px;
}

nav p :hover {
	background-color: black;
	color: white;
}

nav {
	margin: 20px 175px 10px;
	border-radius: 15px;
	text-align: center;
}

article {
	background-color: gray;
	margin: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	border: 10px solid #FFC300;
	
}

h1 {
	text-align: center;
	color: black;
	font-family: comic sans MS, Comic Sans, cursive;
	font-size: 260%;
}

h2 {
	font-size: 180;
}

h3 {
	text-align: center;
	color: black;
	font-family: comic sans MS, Comic Sans, cursive;
}

footer p :hover {
	background-color: black;
	text-align: center;
	color: white;
}

.alpha {
	font-size: 120% ;
	text-align: center;
}

.bravo {
	font-size: 110% ;
	text-align: center;
}

.charlie {
	margin: 240px 100px 50px;
	padding: 10px;
}

.delta {
	padding: .0px;
}

.echo {
	padding: .01px;
	margin: 10px 10px 250px;
}

a {
	color: black;
	font-family: comic sans MS, Comic Sans, cursive;
	text-align: center;
}

img {
	object-fit: fill;
}