body {
	background-color: purple;
}

div {
	border: solid;
	border-color: gold;
}

div:hover{
	cursor: pointer;
}

h2 {
	text-align: center;
	margin: 30px;
	font-size: 50px;
	color: gold;
}

p {
	font-size: 30px;
	padding: 10px;
	text-align: center;
	color: gold;
}

span {
	color: #CA5DCF;
}
button {
	display: block; 
	margin: 0 auto;
	color: purple;
	background-color: gold;
	border-color: purple;
	font-size: 50px; 
}

button:hover {
	cursor: pointer;
	background-color: #A14AA5;
}

span:hover {
	cursor: pointer;
	background-color: #A14AA5;
	color: gold;
}

.button2 {
	font-size: 25px;
}

