body {
	background-color: black;
	margin: 0px;
	background-image: url(../images/ghostship.jpg);
	background-repeat: no-repeat;
	background-size: 1700px 1500px;
	padding: 50px;
}

header {
	background-color: #D1BB20;
	color: Black;
	padding: 20px;
	margin: 10px 30px;
	border: 10px solid #961B0D;
	border-radius: 15px;
	font-size: 300%;
	text-align: cetner;
}

nav {
	background-color: black;
	border: 10px solid #961B0D;
	border-radius: 15px;
	color: #961B0D;
	padding: .01px;
	margin: 0.1px 150px 200px;
}

main {
	background-color: #D1BB20;
	color: #961B0D;
	padding: 5px;
	margin: 550px 30px 100px 30px;
	border: 10px solid #961B0D;
	border-radius: 15px;
	height: auto; 
	width: auto;
}

section {
	background-color: black;
	font-size: 100%;
	border-radius: 15px;
	color: #961B0D;
	padding: 10px;
	margin: 10px 10px 5px 5px;
	height: auto; 
	width: auto;
}

article {
	background-color: gray;
	border-radius: 15px;
	color: white;
	padding: 10px;
	margin: 10px 10px;
	text-align: center;
	font-size: 150%;
	height: auto; 
	width: auto;
}

h1 {
	padding:.01px;
	
}

footer {
	background-color: #D1BB20;
	color: white;
	padding: 10px;
	margin: 100px 200px 10px 200px;
	border: 10px solid #961B0D;
}

a {
	color: #C41706; 
	font-size: 100%;
	
}

/*button {
    background-color: #D1BB20;
    border: none;
    color: #C41706;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
		 
         } */
		 
p :hover {
	background-color: black;
	color: white;
}

.tab {
	font-size: 150%;
}

.alpha {
	color: #D1BB20;
	font-size: 50%;
}
