.box {
	width: 100px;
	height: 100px;
}


.bigbox {
	width: 300px;
	height: 1000px;
	background-color: yellow;	
}

.b1 {
	background: red;
}

.b2 {
	background: green;
}

.b3 {
	background: blue;
}

.in-b {
	display: inline-block;
}

.pos-s {
	position: static;
}

.pos-r {
	position: relative;
	top: 25px;
	left:100px;
}

.pos-a {
	position: absolute;
	top: 50px;
	left:500px;
}

.pos-f {
	position: fixed;
	top: 600px;
	left:170px;
}

.pos-st {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
	left:75px;
}
